* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

body {
  background: #eee;
  margin: 0;
}

.Container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Sidebar {
  flex: 0 0 200px;
  margin: 0 15px;
  padding-top: 15px;
}

.Main {
  flex: 0 0 530px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.Card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6px 10px;
  margin-bottom: 10px
}

.Card:last-child {
  margin-bottom: 0;
}

.Card-header h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #aaa;
  font-weight: 400;
}

.Card-header {
  padding: 4px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee;
}

.ImagePicker {
  overflow-y: scroll;
  height: calc(100vh - 90px);
}

.Button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.Button:hover {
  background-color: #248eff;
}

.ImageCanvas canvas {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.ImagePicker-image {
  cursor: pointer;
  margin-bottom: 8px;
}

.ImagePicker-image:last-child {
  margin-bottom: 0;
}

.ImagePicker-image img {
  max-width: 100%;
  border: 1px solid transparent;
}

.ImagePicker-image img.ImagePicker-image--selected {
  opacity: 0.8;
  border: 2px solid #007bff;
}
